streamlit
openai
Pillow
pytesseract
pdf2image
openpyxl
fuzzywuzzy
reportlab
streamlit-option-menu
streamlit-aggrid
word2number
num2words
dash
dash-ag-grid
dash-bootstrap-components
pandas
plotly
rapidfuzz
